.App {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    border-radius: 5px;
    background-image: url(./assets/backgroundImage.gif);
    
}

.header  {
    height: 15%;
    min-height: 40vh;
    max-height: 50vh;
    
    background-image: url(./assets/backgroundImage.gif);
    margin-bottom: 40px;
    
    

}
.secondheader {
    height: 15%;
    min-height: 31vh;
    max-height: 50vh;
    
    
   
}


.main {
    
    background-color: blue;
    min-height: 100vh;
    /* The main section will grow to take up the remaining space between the header and footer */
}

.footer {
    height: 10%;
    min-height: 15vh;

   
}
